In [1]:
from vnstock3 import Vnstock

In [2]:
stock = Vnstock().stock(symbol='FPT', source='VCI')

2024-09-17 08:03:02,048 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

In [3]:
df = stock.quote.history(start='2000-01-01', end='2024-09-17')
df.tail()

           time   open   high    low  close   volume
4420 2024-09-10  131.0  131.0  129.6  130.0  4195100
4421 2024-09-11  130.0  131.3  129.8  130.6  3190400
4422 2024-09-12  131.0  132.5  131.0  132.3  4118000
4423 2024-09-13  132.2  133.4  132.0  133.0  3186800
4424 2024-09-16  131.8  133.0  131.1  131.1  1915700

In [5]:
fin_report = stock.finance.income_statement(period='year', lang='en')

In [6]:
fin_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 44 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ticker                                 11 non-null     object
 1   yearReport                             11 non-null     int64
 2   Minority Interest                      11 non-null     int64
 3   Minority Interest                      11 non-null     int64
 4   Minority Interest                      11 non-null     int64
 5   Minority Interest                      11 non-null     int64
 6   Net Profit/Loss before tax             11 non-null     int64
 7   Provision for credit losses            11 non-null     int64
 8   Provision for credit losses            11 non-null     int64
 9   Revenue YoY (%)                        11 non-null     float64
 10  Revenue (Bn. VND)                      11 non-null     int64
 11  Attribute to parent company (Bn. VND)  11 non-null     int64
 12  Attribute to parent company YoY (%)    11 non-null     float64
 13  Financial Income                       11 non-null     int64
 14  Financial Income                       11 non-null     int64
 15  Interest Expenses                      11 non-null     int64
 16  Interest Expenses                      11 non-null     int64
 17  Net Sales                              11 non-null     int64
 18  Net Sales                              11 non-null     int64
 19  Gross Profit                           11 non-null     int64
 20  Gross Profit                           11 non-null     int64
 21  Financial Expenses                     11 non-null     int64
 22  Financial Expenses                     11 non-null     int64
 23  General & Admin Expenses               11 non-null     int64
 24  General & Admin Expenses               11 non-null     int64
 25  Operating Profit/Loss                  11 non-null     int64
 26  Operating Profit/Loss                  11 non-null     int64
 27  Net income from associated companies   11 non-null     int64
 28  Other Income/Expenses                  11 non-null     int64
 29  Cost of Sales                          11 non-null     int64
 30  Selling Expenses                       11 non-null     int64
 31  Selling Expenses                       11 non-null     int64
 32  Sales                                  11 non-null     int64
 33  Sales deductions                       11 non-null     int64
 34  Gain/(loss) from joint ventures        11 non-null     int64
 35  Other income                           11 non-null     int64
 36  Net other income/expenses              11 non-null     int64
 37  Profit before tax                      11 non-null     int64
 38  Tax For the Year                       11 non-null     int64
 39  Business income tax - current          11 non-null     int64
 40  Business income tax - deferred         11 non-null     int64
 41  Net Profit For the Year                11 non-null     int64
 42  Attributable to parent company         11 non-null     int64
 43  EPS_basis                              11 non-null     int64
dtypes: float64(2), int64(41), object(1)
memory usage: 3.9+ KB

In [8]:
fin_report.head()

,ticker,yearReport,Minority Interest,Minority Interest,Minority Interest,Minority Interest,Net Profit/Loss before tax,Provision for credit losses,Provision for credit losses,Revenue YoY (%),...,Gain/(loss) from joint ventures,Other income,Net other income/expenses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,FPT,2023,0,1322859306994,0,1322859306994,9203006098570,677928749053,677928749053,0.195402,...,42347008961,200956010920,91260564137,9203006098570,-1414956358954,-1424017001796,9060642842,7788049739616,6465190432622,4661
1,FPT,2022,0,1181234863061,0,1181234863061,7662282959880,880253740252,880253740252,0.234138,...,483598048401,184323926142,72993337569,7662282959880,-1170939505411,-1193613667231,22674161820,6491343454469,5310108591408,3847
2,FPT,2021,0,1011889219694,0,1011889219694,6337206440958,352207924154,352207924154,0.192147,...,686864681119,133219177622,108712304194,6337206440958,-987905341462,-954883280274,-33022061188,5349301099496,4337411879802,4349
3,FPT,2020,0,885737478776,0,885737478776,5263456629967,313851138486,313851138486,0.076631,...,312193572178,131401186949,72802166036,5263456629967,-839711412369,-942814118631,103102706262,4423745217598,3538007738822,4120
4,FPT,2019,0,776361790219,0,776361790219,4664530511706,287785755015,287785755015,0.194885,...,404927466313,112683563071,54657348292,4664530511706,-752818344833,-761989612116,9171267283,3911712166873,3135350376654,4220

In [9]:
# remove duplicated columns
fin_report = fin_report.loc[:,~fin_report.columns.duplicated()]

In [10]:
fin_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ticker                                 11 non-null     object
 1   yearReport                             11 non-null     int64
 2   Minority Interest                      11 non-null     int64
 3   Net Profit/Loss before tax             11 non-null     int64
 4   Provision for credit losses            11 non-null     int64
 5   Revenue YoY (%)                        11 non-null     float64
 6   Revenue (Bn. VND)                      11 non-null     int64
 7   Attribute to parent company (Bn. VND)  11 non-null     int64
 8   Attribute to parent company YoY (%)    11 non-null     float64
 9   Financial Income                       11 non-null     int64
 10  Interest Expenses                      11 non-null     int64
 11  Net Sales                              11 non-null     int64
 12  Gross Profit                           11 non-null     int64
 13  Financial Expenses                     11 non-null     int64
 14  General & Admin Expenses               11 non-null     int64
 15  Operating Profit/Loss                  11 non-null     int64
 16  Net income from associated companies   11 non-null     int64
 17  Other Income/Expenses                  11 non-null     int64
 18  Cost of Sales                          11 non-null     int64
 19  Selling Expenses                       11 non-null     int64
 20  Sales                                  11 non-null     int64
 21  Sales deductions                       11 non-null     int64
 22  Gain/(loss) from joint ventures        11 non-null     int64
 23  Other income                           11 non-null     int64
 24  Net other income/expenses              11 non-null     int64
 25  Profit before tax                      11 non-null     int64
 26  Tax For the Year                       11 non-null     int64
 27  Business income tax - current          11 non-null     int64
 28  Business income tax - deferred         11 non-null     int64
 29  Net Profit For the Year                11 non-null     int64
 30  Attributable to parent company         11 non-null     int64
 31  EPS_basis                              11 non-null     int64
dtypes: float64(2), int64(29), object(1)
memory usage: 2.9+ KB

In [12]:
fin_report.iloc[0,:]

ticker                                               FPT
yearReport                                          2023
Minority Interest                                      0
Net Profit/Loss before tax                 9203006098570
Provision for credit losses                 677928749053
Revenue YoY (%)                                 0.195402
Revenue (Bn. VND)                         52625174861333
Attribute to parent company (Bn. VND)      6465190432622
Attribute to parent company YoY (%)             0.217525
Financial Income                           2336069089819
Interest Expenses                          -832648611261
Net Sales                                 52617900827385
Gross Profit                              20319553444682
Financial Expenses                        -1718298463710
General & Admin Expenses                  -6625373638359
Operating Profit/Loss                      9111745534433
Net income from associated companies                   0
Other Income/Expenses                      -109695446783
Cost of Sales                            -32298347382703
Selling Expenses                          -5242551906960
Sales                                     52625174861333
Sales deductions                             -7274033948
Gain/(loss) from joint ventures              42347008961
Other income                                200956010920
Net other income/expenses                    91260564137
Profit before tax                          9203006098570
Tax For the Year                          -1414956358954
Business income tax - current             -1424017001796
Business income tax - deferred                9060642842
Net Profit For the Year                    7788049739616
Attributable to parent company             6465190432622
EPS_basis                                           4661
Name: 0, dtype: object

In [13]:
stock.listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
151,Viễn thông,Telecommunications,6000,1
152,Tiện ích Cộng đồng,Utilities,7000,1
153,Tài chính,Financials,8000,1
154,Ngân hàng,Banks,8301,1
155,Công nghệ Thông tin,Technology,9000,1

In [16]:
fpt_company = Vnstock().stock(symbol='FPT', source='TCBS').company

In [20]:
fpt_company.overview()

,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,HOSE,Công nghệ Thông tin,CT,121463,0.458,1460.4,1460.4,2002,48878,3.2,0.021,0.006,0.547,FPT Corp,https://www.fpt.com.vn,310,9537

In [21]:
stock_fpt = Vnstock().stock(symbol='FPT', source='TCBS')

In [23]:
quote_history = stock_fpt.quote.history(start='2000-01-01', end='2024-09-17')

2024-09-17 08:25:45,993 - vnstock3.explorer.tcbs.quote - ERROR - Dữ liệu không tồn tại từ 2000-09-17 đến 2001-09-16: 'time'
2024-09-17 08:25:46,191 - vnstock3.explorer.tcbs.quote - ERROR - Dữ liệu không tồn tại từ 2001-09-17 đến 2002-09-16: 'time'
2024-09-17 08:25:46,388 - vnstock3.explorer.tcbs.quote - ERROR - Dữ liệu không tồn tại từ 2002-09-17 đến 2003-09-16: 'time'
2024-09-17 08:25:46,627 - vnstock3.explorer.tcbs.quote - ERROR - Dữ liệu không tồn tại từ 2003-09-17 đến 2004-09-16: 'time'
2024-09-17 08:25:46,863 - vnstock3.explorer.tcbs.quote - ERROR - Dữ liệu không tồn tại từ 2004-09-17 đến 2005-09-16: 'time'
2024-09-17 08:25:47,096 - vnstock3.explorer.tcbs.quote - ERROR - Dữ liệu không tồn tại từ 2005-09-17 đến 2006-09-16: 'time'

In [24]:
quote_history.tail()

           time   open   high    low  close   volume
4681 2024-09-10  131.0  131.0  129.6  130.0  4203583
4682 2024-09-11  130.0  131.3  129.8  130.6  3196732
4683 2024-09-12  131.0  132.5  131.0  132.3  4124400
4684 2024-09-13  132.2  133.4  132.0  133.0  3191984
4685 2024-09-16  131.8  133.0  131.1  131.1  1921844

In [25]:
stock_fpt.company.overview()

,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,HOSE,Công nghệ Thông tin,CT,121463,0.458,1460.4,1460.4,2002,48878,3.2,0.021,0.006,0.547,FPT Corp,https://www.fpt.com.vn,310,9537

In [36]:
industries = stock_fpt.listing.industries_icb()
industries.tail()

                icb_name         en_icb_name icb_code  level
151           Viễn thông  Telecommunications     6000      1
152   Tiện ích Cộng đồng           Utilities     7000      1
153            Tài chính          Financials     8000      1
154            Ngân hàng               Banks     8301      1
155  Công nghệ Thông tin          Technology     9000      1

In [28]:
sbi = stock_fpt.listing.symbols_by_industries()

In [29]:
sbi.tail()

,symbol,organ_name,en_organ_name,icb_name3,en_icb_name3,icb_name2,en_icb_name2,icb_name4,en_icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
1584,VIC,Tập đoàn Vingroup - Công ty CP,VinGroup Joint Stock Company,Bất động sản,Real Estate Investment & Services,Bất động sản,Real Estate,Bất động sản,Real Estate Holding & Development,CT,8000,8600,8630,8633
1585,PVO,Công ty Cổ phần Dầu nhờn PV Oil,PV Oil Lube Joint Stock Company,Hóa chất,Chemicals,Hóa chất,Chemicals,"Sản phẩm hóa dầu, Nông dược & Hóa chất khác",Specialty Chemicals,CT,1000,1300,1350,1357
1586,DVM,Công ty Cổ phần Dược liệu Việt Nam,Vietnam Medicinal Materials Joint Stock Company,Dược phẩm,Pharmaceuticals & Biotechnology,Y tế,Health Care,Dược phẩm,Pharmaceuticals,CT,4000,4500,4570,4577
1587,VIN,Công ty Cổ phần Giao nhận Kho vận Ngoại thương...,VINATRANS,Vận tải,Industrial Transportation,Hàng & Dịch vụ Công nghiệp,Industrial Goods & Services,"Kho bãi, hậu cần và bảo dưỡng",Transportation Services,CT,2000,2700,2770,2777
1588,XMP,Công ty Cổ phần Thủy điện Xuân Minh,Xuan Minh Hydro Power Joint Stock Company,Sản xuất & Phân phối Điện,Electricity,"Điện, nước & xăng dầu khí đốt",Utilities,Sản xuất & Phân phối Điện,Conventional Electricity,CT,7000,7500,7530,7535

In [33]:
# show sib by symbol name = 'FPT'
fpt_symbol = sbi[sbi['symbol'] == 'FPT']

In [34]:
fpt_symbol

,symbol,organ_name,en_organ_name,icb_name3,en_icb_name3,icb_name2,en_icb_name2,icb_name4,en_icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
236,FPT,Công ty Cổ phần FPT,FPT Corporation,Phần mềm & Dịch vụ Máy tính,Software & Computer Services,Công nghệ Thông tin,Technology,Phần mềm,Software,CT,9000,9500,9530,9537

In [37]:
# extract industry name of FPT

ValueError: Can only compare identically-labeled Series objects

In [43]:
# extract industry name of FPT
industries[industries['icb_code'] == fpt_symbol['icb_code1'].values[0]]

                icb_name en_icb_name icb_code  level
155  Công nghệ Thông tin  Technology     9000      1

In [47]:
fpt_symbol['icb_code1'].values[0]

'9000'

In [45]:
fpt_symbol['icb_code1']

236    9000
Name: icb_code1, dtype: object